*{
    box-sizing: border-box;
}
body{
    margin: 0;
    display: flex;
    height: 1000px;
    font-family: cursive;
}
.array{
    background-color: #688C86;
    width: 800px;
    padding: 20px;
    margin: 20px auto;
    display: flex;
    height: 100px;
}
.arrElement{
    background-color: #DCD7C9;
    color: #000;
    font-size: 20px;
    text-align: center;
    margin-right: 5px;
    padding: 20px;
    flex-grow: 1;
}
.selectElement{
    background-color: blue;
    color: white;
    width: 80px;
    text-align: center;
    margin-right: 5px;
    padding: 20px;
    flex-grow: 1;
}
.txt{
    font-size: 28px;
    color: white;
}
.value{
    font-size: 30px;
    color: #D99414;
}

#leftSide{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #0D0D0D;
    color: #F28A2E;
    font-size: 30px;
}
#rightSide{
    width: 70%;
    background-color: #0D0D0D;
    border-left: 1px solid white;
    display: flex;
    flex-direction: column;
}
#rightHigh{
    display: flex;
    height: 20%;
}
#rightMid{
    display: flex;
    height: 20%;
    justify-content: center;
}
#rightLow{
    height: 60%;
    display: flex;
    justify-content: center;
}

.leftDivs{
    padding: 20px;
}
